This notebook is created at GESIS for general public to test "gender" package for inferring gender from names. It is a supplement to the GESIS Gender Inference website. For troobleshooting and citation info please refer [here](https://cran.r-project.org/web/packages/gender/).

In [4]:
library(gender)
name <- "Madison"
gender(c(name), years = 1930, method = "ssa")

PLEASE NOTE: The method provided by this package must be used cautiously
and responsibly. Please be sure to see the guidelines and warnings about
usage in the README or the package documentation.

  name    proportion_male proportion_female gender year_min year_max
1 Madison 1               0                 male   1930     1930