In [1]:
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation, Flatten
from keras.layers.convolutional import Convolution2D, MaxPooling2D
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import keras

C:\Users\rahmanar\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:72: UserWarning: h5py is running against HDF5 1.10.2 when it was built against 1.10.3, this may cause problems
  '{0}.{1}.{2}'.format(*version.hdf5_built_version_tuple)
Using TensorFlow backend.

In [4]:

import urllib.request

print('Beginning file download with urllib2...')

url = 'http://datax.kennesaw.edu/imdb_wiki/wiki5.csv'  
urllib.request.urlretrieve(url, 'H:/privat/Data/IMDB/wiki.csv')

Beginning file download with urllib2...

('H:/privat/Data/IMDB/wiki.csv', <http.client.HTTPMessage at 0x5a45a58>)

In [5]:
data = pd.read_csv('H:/privat/Data/IMDB/wiki.csv')

In [6]:
data.head()

,Unnamed: 0,gender,age,px0,px1,px2,px3,px4,px5,px6,...,px9990,px9991,px9992,px9993,px9994,px9995,px9996,px9997,px9998,px9999
0,0,1,36,174,173,172,173,174,171,169,...,35,30,29,28,30,32,38,32,31,29
1,1,1,41,225,189,163,177,177,137,162,...,17,8,38,39,35,9,14,49,48,25
2,2,1,30,81,67,88,36,67,105,63,...,137,130,131,135,138,137,132,128,127,128
3,3,1,24,193,194,194,194,190,189,189,...,216,216,218,218,218,217,217,217,219,219
4,4,1,33,41,35,28,26,22,21,17,...,122,112,114,114,110,117,120,126,127,127

In [7]:
df_x = data.iloc[:,3:].values.reshape(len(data),100,100,1)

y = data.iloc[:,1].values

del data

In [8]:
df_y = keras.utils.to_categorical(y,num_classes=2)

In [9]:
df_x = np.array(df_x)
df_y = np.array(df_y)

In [10]:
df_x.shape

(3209, 100, 100, 1)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3,random_state=4)

del df_x
del df_y

print(x_train.shape)
print(x_test.shape)

(2246, 100, 100, 1)
(963, 100, 100, 1)

In [12]:
#CNN MODEL

model = Sequential()
model.add(Convolution2D(64,3,data_format='channels_last',activation='relu',input_shape=(100,100,1)))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Convolution2D(32,3,data_format='channels_last',activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Convolution2D(16,3,data_format='channels_last',activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Convolution2D(8,3,data_format='channels_last',activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Convolution2D(4,3,data_format='channels_last',activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Flatten())
model.add(Dense(100))
model.add(Activation('sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(2))
model.add(Activation('softmax'))
model.compile(loss='categorical_crossentropy',optimizer = 'adadelta', metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\rahmanar\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\rahmanar\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [13]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 98, 98, 64)        640
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 49, 49, 64)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 47, 47, 32)        18464
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 23, 23, 32)        0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 21, 21, 16)        4624
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 10, 10, 16)        0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 8, 8, 8)           1160
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 4, 4, 8)           0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 2, 2, 4)           292
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 1, 1, 4)           0
_________________________________________________________________
flatten_1 (Flatten)          (None, 4)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 100)               500
_________________________________________________________________
activation_1 (Activation)    (None, 100)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
_________________________________________________________________
activation_2 (Activation)    (None, 2)                 0
=================================================================
Total params: 25,882
Trainable params: 25,882
Non-trainable params: 0
_________________________________________________________________

In [14]:
#model.fit(x_train[:2001], y_train[:2001], validation_data=(x_test[:21], y_test[:21]), epochs=5)

model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=20, batch_size=200)

WARNING:tensorflow:From C:\Users\rahmanar\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 2246 samples, validate on 963 samples
Epoch 1/20
2246/2246 [==============================] - 92s 41ms/step - loss: 0.7907 - acc: 0.5236 - val_loss: 0.6835 - val_acc: 0.5784
Epoch 2/20
2246/2246 [==============================] - 89s 40ms/step - loss: 0.7774 - acc: 0.5338 - val_loss: 0.6873 - val_acc: 0.5628
Epoch 3/20
2246/2246 [==============================] - 86s 38ms/step - loss: 0.7700 - acc: 0.5249 - val_loss: 0.6784 - val_acc: 0.5826
Epoch 4/20
2246/2246 [==============================] - 84s 37ms/step - loss: 0.7285 - acc: 0.5552 - val_loss: 0.6520 - val_acc: 0.6075
Epoch 5/20
2246/2246 [==============================] - 81s 36ms/step - loss: 0.7299 - acc: 0.5534 - val_loss: 0.6602 - val_acc: 0.5992
Epoch 6/20
2246/2246 [==============================] - 80s 36ms/step - loss: 0.7048 - acc: 0.5739 - val_loss: 0.6932 - val_acc: 0.4766
Epoch 7/20
2246/2246 [==============================] - 87s 39ms/step - loss: 0.6958 - acc: 0.5806 - val_loss: 0.6284 - val_acc: 0.6386
Epoch 8/20
2246/2246 [==============================] - 87s 39ms/step - loss: 0.6560 - acc: 0.6184 - val_loss: 0.6139 - val_acc: 0.6532
Epoch 9/20
2246/2246 [==============================] - 88s 39ms/step - loss: 0.6303 - acc: 0.6589 - val_loss: 0.6033 - val_acc: 0.6802
Epoch 10/20
2246/2246 [==============================] - 92s 41ms/step - loss: 0.6202 - acc: 0.6874 - val_loss: 0.5937 - val_acc: 0.6906
Epoch 11/20
2246/2246 [==============================] - 90s 40ms/step - loss: 0.5677 - acc: 0.7155 - val_loss: 0.5648 - val_acc: 0.7217
Epoch 12/20
2246/2246 [==============================] - 93s 41ms/step - loss: 0.5732 - acc: 0.7097 - val_loss: 0.6094 - val_acc: 0.6739
Epoch 13/20
2246/2246 [==============================] - 86s 38ms/step - loss: 0.5501 - acc: 0.7315 - val_loss: 0.5784 - val_acc: 0.6937
Epoch 14/20
2246/2246 [==============================] - 82s 37ms/step - loss: 0.5458 - acc: 0.7373 - val_loss: 0.5604 - val_acc: 0.7248
Epoch 15/20
2246/2246 [==============================] - 81s 36ms/step - loss: 0.5459 - acc: 0.7244 - val_loss: 0.5750 - val_acc: 0.6978
Epoch 16/20
2246/2246 [==============================] - 88s 39ms/step - loss: 0.5376 - acc: 0.7431 - val_loss: 0.5726 - val_acc: 0.7030
Epoch 17/20
2246/2246 [==============================] - 87s 39ms/step - loss: 0.5293 - acc: 0.7569 - val_loss: 0.5954 - val_acc: 0.6978
Epoch 18/20
2246/2246 [==============================] - 88s 39ms/step - loss: 0.5180 - acc: 0.7600 - val_loss: 0.6033 - val_acc: 0.6947
Epoch 19/20
2246/2246 [==============================] - 87s 39ms/step - loss: 0.5125 - acc: 0.7631 - val_loss: 0.5461 - val_acc: 0.7362
Epoch 20/20
2246/2246 [==============================] - 86s 38ms/step - loss: 0.5418 - acc: 0.7404 - val_loss: 0.5541 - val_acc: 0.7196

In [15]:
#np.savez('H:/privat/Data/IMDB/wiki_train_test',x_train,x_test,y_train,y_test)
model.evaluate(x_test,y_test)

963/963 [==============================] - 13s 13ms/step

[0.5541224060183622, 0.719626168224299]

In [16]:
from sklearn.metrics import classification_report, confusion_matrix

y_pred = model.predict_classes(x_test)
print(classification_report(np.argmax(y_test,axis=1),y_pred))

              precision    recall  f1-score   support

           0       0.75      0.51      0.60       405
           1       0.71      0.87      0.78       558

   micro avg       0.72      0.72      0.72       963
   macro avg       0.73      0.69      0.69       963
weighted avg       0.72      0.72      0.71       963

In [18]:
con_mat = confusion_matrix(np.argmax(y_test,axis=1),y_pred)
print(con_mat)

[[205 200]
 [ 70 488]]

In [19]:
accuracy = (sum(con_mat.diagonal()))/(con_mat.sum())       # Calculating the accuracy

print("Total accuracy is:")
print('{percent:.2%}'.format(percent=accuracy))

Total accuracy is:
71.96%